@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Belanosima&family=Inconsolata:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Belanosima&family=Inconsolata:wght@200;300&display=swap');
body{
    padding: 10px;
    margin: 0;
    flex-direction:column ;
    flex-wrap: wrap;
    display: flex;
    min-width: 10%;    
    box-sizing: border-box;
    scroll-behavior: smooth;
}
nav{
    font-family: belanosima;
    margin: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options div{
    margin-left: 30px;
}
.options a{
    font-size: 20px;
    text-decoration: none;
    color: #646464;
    transition-duration: .8s;
    transition-timing-function: ease;
}
.options a:hover{
    color: #3f3535;
    font-size: 21px;
}

.options .visiter::before{
    content: '';
    position:absolute;
    top: 86px;
    right: 393px;
    width: 28px;
    height:3px;
    border-radius: 3px;
    background-color: #3f3535 ;
    opacity: 0%;
    transition: all .8s ease;
    transform-origin: center;
}
.options .visiter:hover::before{
    opacity: 100%;
    transform: scaleX(2);
}
.options .acceuil::after{
    content: '';
    position:absolute;
    top: 86px;
    width: 92px;
    right: 223px;
    height:3px;
    border-radius: 3px;
    background-color:#3f3535  ;
    display: block;
    opacity: 0%;
    transition: all 1s ease-out;
    transform-origin: center;
}

.options .acceuil:hover::after{
    opacity: 100%;
    transform: scaleX(2);
}
nav .bouton .btn{
    margin-right: 30%;
    padding-left: 20%;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}
nav .bouton .btn:hover {
    color:white;
}

header{
    height: 250px;
    padding: 20px;
    font-family: Inconsolata;
    font-size: 40px;
    background-color: #2e2c2c;
    color: white;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}
header .header{
    display: flex;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    width: 260px;
}
header .header .div{
    background-color:#2e2c2c;
    z-index: 10;
    display: flex;
    position: relative;
    align-self: center;
}
header .header span{
    background-color:#2e2c2c;
}
header .header .div span{
    background-color:#2e2c2c;
}
header .header .msg0{
    margin-right: 20px;
    animation: aim 3s alternate-reverse 1s infinite ease both;
}
@keyframes aim {
    0%{
        transform: translateY(-30px);;
        opacity: 0%;
    }
    50%{
        transform: translateY(0);
        opacity: 100%;
    }
    100%{
        transform: translateY(30Px);
        opacity: 0%;
    }
    
}
header .header .div .msg2{
    margin-right: 20px;
    animation: aim1 1s alternate 2s 1 linear ;
    z-index: 10;
}
@keyframes aim1 {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
header .header .msg1{
    margin-right: 20px;
    z-index: 10;
    animation: aim2 1s alternate 1s  1 linear ;
}
@keyframes aim2 {
   50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
header .header .msg3{
    margin-right: 20px;
    z-index: 10;
    animation: aim3 1s alternate  3s 1 linear ;
}
@keyframes aim3 {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
header .header .msg4{
    margin-right: 20px;
    z-index: 10;
    animation: aim4 1s alternate 4s 1 linear ;
}
@keyframes aim4 {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
header .header .div .msg5{
    margin-right: 20px;
    z-index: 10;
    animation: aim5 1s alternate 5s 1 linear ;
}
@keyframes aim5 {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
header .header .div .msg6{
    z-index: 10;
    animation: aim6 1s alternate 6s 1 linear ;
}
@keyframes aim6 {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
} 
.premiere{
    margin-left: 15px;
    margin-right:10px;
    display: flex;
    flex-wrap:wrap ;
}
@media screen and(min-width:500px){
    .premiere{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .premiere .option{
        align-self: center;
    }
}
.bodi{
    margin-top:10px;
    padding: 20px;
    margin-bottom: 20px;
}
.bodi .mid {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    font-family: bacasime Antique;
}
.premiere  .research button{
    height: 50px;
    width: 60px;
    border-radius:5px;
    cursor: pointer;
    margin-left: 20px;
    align-content: center;
    padding: 10px;
    background-color: #3f3535 ;
    color: white;
    border: solid 2px;
    transition:all 0.9s ease;
    margin-top: 25px;
}
.premiere .research button:hover{
    background-color: white;
    color: #2e2c2c;
}
.premiere  .research button a{
    text-decoration: none;
    color:whitesmoke;
}

.premiere  .research button:hover a{
    color: #2e2c2c;
}
.premiere .options div{
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: #2e2c2c;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
.premiere .options h3{
    color: #3f3535;
    Font-family:Belanosima ;
    margin-top: 40px;
} 
.premiere .options div input{
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    width: 190px;
    outline: none;
}
.premiere .options .from input ,.premiere .options .to input{
    width: 190px;
    padding: 5px;
    color:whitesmoke;
    border:none;
}
.premiere .options .au input , .premiere  .options .du input{ 
    width: 200px;
    color:whitesmoke;
    border:none;
}
.btn {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: inline-block;
    Width: 90px;
    height: 30px;
    border: solid 2px;
    border-radius: 8px;
    padding: 4px;
}
.btn::before {
    content: "";
    position: absolute;
    color: white;
    display: inline-block;
    background-color: #3f3535 ;
    left: 0;
    top: 0;
    width:0;
    height: 100%;
    Z-index: -1;
    transition: all 0.8s ease-in-out;
}
.btn:hover::before {
    width: 100%;
    Color: white;
}
.foot{
    margin-top: 0px;
    padding-right: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2e2c2c;
    padding-top: 20px;
    max-height: max-content;
}

/*footer{
    animation-name:  scroll1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    transform-origin: bottom;
    transition-property: all;
    animation-timeline: view;

}*/
.foot  .titre{
    align-self: center;
    text-align: center;
    font-family: Inconsolata;
    color: white;
}
.foot .Cts .Ctc{
    align-self: center;
    text-align: center;
    line-height: 25px;
    list-style-type: circle;
    list-style-position: outside;
    margin-right: 27px;
}
.foot .Cts .Ctc li a{
    font-size: 15px;
    text-decoration: none;
    margin-top:10px ;
    font-family: Inconsolata;
    color: whitesmoke;
}
main{
    margin-top: 50px;
    margin-bottom:0px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main section{
    display:flex;
    flex-direction:column;
    background-color: #2e2c2c;
    padding: 10px;
    margin-top: 10px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border-radius: 10px;
}
main section div{
    display: flex;
    justify-content: center;
}
main section h2{
    font-size:30px  ;
    Font-family:Belanosima ;
}
main section .galerie{ 
    display: flex;
    height: 1000px;
    Font-family:Belanosima ;
    justify-content: center;
}
@keyframes scroll2{
    0%{
        
    }
}
@keyframes scroll1 {
    0%{ 
        transform: translateY(350px)
        
    }

    100%{
        transform: translateY(0px);
    }
}